* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start Header */
header {
  padding: 0%;
  background-color: slategray;
}

header h1 {
  font-weight: bold;
  font-size: 25spx;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkgreen;
  margin: 0;
  display: inline;
}

header nav {
  float: right;
  margin: 0;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  margin: 0 10px;
  font-weight: lighter;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* END Header */

/* Start Hero */
.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero img {
  width: 100%;
  height: 200px;
  margin: 0;
}

/* Start Body */
body {
  background-color: lavender;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about-me {
  display: flex;
  flex-direction: row;
}
/* END Body */

/* Start Contact Me */
#contact-me {
  display: flex;
  flex-direction: row;
}

#contact-me h2 {
  flex: 25%;
}

#contact-me p {
  flex: 75%;
}

#contact-me nav {
  float: right;
  margin: 0;
}
#contact-me nav ul li {
  display: inline;
}
#contact-me nav ul li a {
  margin: 0 40px;
  font-weight: lighter;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* END Contact Me */
